@import "config.scss";

.header {
  @include flexcolumn;
  text-align: center;
  background-image: url(../../img/header.jpg);


  &__course--title {
    font-family: $font;
    font-size: 16px;
  }

  &__title {
    font-family: $font-heading;
    font-size: 3rem;
  }
}