@import "config.scss";

//fyrir sérhvert fyrirlestri 

.lecture {

  &__header {
    @include flexcolumn;
    text-align: center;
    justify-content: center;
    min-height: 40vh;
    background-size: cover;
    filter: opacity(.6);
    margin: 0 auto $gutter*2 auto;
  }

  &__category {
    font-family: $font;
    font-size: 1rem;
    text-transform: uppercase;
  }

  &__title {
    font-family: $font-heading;
    font-size: 3rem;
  }

  &__content {
    @include flexcolumn;
    max-width: $max-width;
    padding-left: $gutter;
    padding-right: $gutter;

    @media (min-width: 1200px) {
      width: 69%;
      margin: $gutter auto;
    }
  }

  &__text {
    font-family: $font;
    font-size: 1rem;
    padding-top: $gutter/2;
    padding-bottom: $gutter/2;
    line-height: 2;
  }

  &__quote--spot {
    background-color: $dark-gray;
    padding-left: 0;
    padding-right: 0;
  }

  &__image--spot {
    padding-bottom: $gutter;
  }

  &__heading {
    padding-top: $gutter/2;
    padding-bottom: $gutter/2;
    font-family: $font-heading;
    font-size: 2rem;
  }

  &__list {
    line-height: 2;
  }

  &__code {
    padding-bottom: $gutter/2;
  }
}

.bottom__link {
  font-family: $font-heading;
  cursor: pointer;
  padding: $gutter;
  text-align: center;

  &--finished {
    color: $green;
  }
}
