@import "config.scss";

.list {
  @include flexrow;
  flex-wrap: wrap;

  max-width: $max-width;
  margin: 0 auto;

  cursor: pointer;

  @media (max-width: $max-width) {
    padding-right: $gutter/2;
    padding-left: $gutter/2;
  }

  &__item {
    @include columns(12);
    padding-bottom: $gutter;


    @include flexcolumn;

    background-clip: content-box;
    background-color: $light-gray;
    transition: background-color 300ms ease-in-out;

    &:hover {
      background-color: $gray;
    }

    @media (min-width: 500px + 1) {
      @include columns(4);
    }

    font-family: $font-heading;
    font-weight: bold;

    &--thumbnail {
      height: 75%;
    }

    &--category {
      text-transform: uppercase;
    }

    &--title {
      font-size: 2em;
    }

    &--tick {
      color: $green;
      font-size: 2rem;
    }
    
    h3 {
      @include flexcolumn;
    }

    h3:: {
      display: flex;
    }
  }

}
